@charset "UTF-8";

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 740px;
    font-family: 'Times New Roman', Times, serif;
    
}

main {
    background-color:#CFC0C5 ;
    text-align: center;
    border-radius: 10px;
    height: fit-content;
    width: 80%;
    max-width: 888px;
    padding: 20px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
