@charset "UTF-8";

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

main {
    display: inline-block;
    background-color:#CFC0C5 ;
    text-align: center;
    border-radius: 10px;
    height: fit-content;
    width: 25%;
    max-width: 888px;
    padding: 20px;
}

#mensage::before {
  content: "\2606";
}

#mensage {
  text-decoration: none;
  color: black;
}

#mensage2 {
  text-decoration: none;
  color: black;
}

#mensage2::before {
  content: "\2606";
}