@charset "UTF-8";

html , body {
    display: block;
    height: 100%;
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
    text-align: center;
    background-image: linear-gradient(to right, #F2E8DF, #F2C6C2);
    color: #91707b;
    font-size: large;
}

.polaroid {
    padding-top: 1%;
    padding-right: 1%;
    padding-bottom: 5%;
    padding-left: 1%;
    background-color: white;
}

