@charset "UTF-8";

html, body {
    display: block;
    height: 100%;
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
    text-align: center;
}

main {
    display: inline-block;
    background-color:#CFC0C5 ;
    text-align:center;
    border-radius: 10px;
    height: fit-content;
    width: 25%;
    padding: 20px;
    margin: 18% auto;
}
h1, p, label {
    color: #926775;
}
.input{
    padding-top: 1em;
    border: none;
    color: #91707b;
    background-color: #CFC0C5;
}
.input::placeholder{
    color: #91707b;
}
.input:focus{
    outline: none;
}

.button{
    border: none;
    border-radius: 10px;
    height: 28px;
    color:#91707b;
}
